#download-link {
  margin-top: 20px;
  text-align: center;
}

#download-link ul {
  list-style-type: none;
  padding: 0;
}

#download-link li {
  display: inline;
  padding: 5px;
}

#download-link a {
  width: 200px;
  margin: 5px;
}

p {
  font-weight: lighter;
}
